version: "0.9"
services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    command: >
      bash -c
      "
      alembic upgrade head
      &&
      uvicorn main:app --reload --host 0.0.0.0 --port 80
      "
    restart: unless-stopped
    ports:
      - "80:8080"
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=db
      - REDIS_HOST=redis
      - WEATHER_API_TOKEN=${WEATHER_API_TOKEN}
      - TG_TOKEN=${TG_TOKEN}
      - WEBHOOK_SECRET_KEY=${WEBHOOK_SECRET_KEY}
      - API_URL=${API_URL}
    depends_on:
      - db
      - redis
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123123
      POSTGRES_DB: postgres
    restart: always
    ports:
      - "5432:5432"
  redis:
    image: redis
    ports:
      - "6379:6379"
volumes:
  postgres_data:
  usr-data:
